.content {
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  .left-menu {
    width: 60px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
  }
  
  .left-menu.open {
    width: 200px;
  }
  
  .toggle-button {
    font-size: 20px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  /* Added styles for sticky header effect */
  .sticky {
    margin-left: 200px;
  }